#home {
    background: url('../../assets/bgIMG.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

}
.app__headerNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 3.5rem;

    img {
        width: 6rem;
        height: 6rem;
        border: 3px solid #FFF;
        border-radius: 50%;

        @media screen and (min-width: 2000px){
        width: 8rem;
        height: 8rem;
    }
    }

    p {
        color: var(--gray-color);
    }

    svg {
        width: 1.8rem;
        height: 1.8rem;
        margin-top: 1rem;

        @media screen and (min-width: 2000px){
        width: 4rem;
        height: 4rem;
        }
    }

    a {
        color: var(--black-color);
    }
}

.app__headerNew-greeting {
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem 0 5rem;

    span {
        color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px){
        font-size: 2rem;
    }

    @media screen and (max-width: 450px){
        font-size: 1.1rem;
    }
}